<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="dotless" version="1.1.0" />
  <package id="YUICompressor.NET" version="1.5.0.0" />
  <package id="AjaxMin" version="4.12.4057.21792" />
  <package id="UglifyCS" version="1.0.3" />
  <package id="UglifyCS" version="1.0.3.1" />
</packages>